@import url("https://fonts.googleapis.com/css?family=Roboto:300");

.container{
  font-family: "Roboto", sans-serif;
}

.container h1{
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 28px;
}

/* product search */

.productSearch{
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
  margin: 0 auto;  
}
.productSearch input{
  min-width: 448px;
  height: 32.7px;
  background-color: #f8f8f8;
  padding: 0 4px;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto 0;
}
input::placeholder{
  text-align: left;
  font-family: "Roboto", sans-serif;
}
.productSearch svg{
  width: 30px;
  height: 30px;
  margin: auto 8px ;
  cursor: pointer;
}


/* product list */

.productSection{
  position: fixed;
  left: 0;
  right: 0;
  width: 630px;
  height: 580px;
  overflow-y: scroll;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px auto;
}


.productList{
  /* border: 10px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:  10px;
}

.productListItem{
  display: flex;
  padding: 20px;
  height: 215px;
  width: 90% ;
  border: 1px solid #E4E4E4;
  border-radius: 2px;
  box-shadow: #f8f8f8;
  margin: 10px auto;
}

.productImage  {
  position: relative;
  overflow: hidden;
}
.productImage img{
  height: 175px;
  width: 175px;
  border-radius: 5px;
}
.productImage p{
  background-color:#CCFF78 ;
  position: absolute;
  top: -16px;
  left: -2px;
  height: 30px;
  width: 102px;
  border: 0px solid;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  line-height: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.productInfoTitle{
  margin-left: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 30.2px;
  text-transform: uppercase;
}

.productVariants p{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.52px;
  letter-spacing: 15%;
  text-align: left;
  padding-left: 40px;
  margin: 4px;
  
  height: 40px;
  width: 330px;
  line-height: 40px;
  color:#4D4D4D;
  border-radius: 5px;
  
}















